openai
python-dotenv
PyMuPDF
pandas
openpyxl
slack_sdk
flask
selenium
gradio
py7zr
numpy
pillow
opencv-python
webdriver-manager
html2text
langchain
langchain-community
langchain-core
langchain_openai
unstructured
unstructured[pdf]
langchain-chroma>=0.1.2
pdfkit
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
